**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
s="hell python"
print(len(s))

11

In [6]:
s="hell python"
counter=0
for char in s:
    counter+=1


counter

11

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [12]:
s=input("enter Your string")
if len(s)>=4:
    print(s[0]+s[1]+s[-2]+s[-1])
elif len(s)==3:
    print(s[0]+s[1]+s[1]+s[2])
elif len(s)==2:
    print(s[0]+s[1]+s[0]+s[1])
else:
    print("")

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [19]:
s=input("enter Your stringðŸ˜")
if s[-3:]!="ing"and len(s)>=3:
    s+="ing"
elif s[-3:]=="ing"and len(s)>=3:
    s+="ly"

s

'l'

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [29]:
mylist=[]
leng=0
s=""
size=int(input("enter size of list"))
for i in range(0,size) :
    mylist.append(input())
    if(len(mylist[i])>leng):
        leng=len(mylist[i])
        s=mylist[i]
print(f"{s} length is {leng}")

hossam length is 6

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [8]:
s="abce"
temp=""

temp+=s[-1]
temp+=s[1:-1]
temp+=s[-0]
temp

'ebca'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [3]:
s=input()
temp=""

for i in range(0,len(s)):
   if(i%2==1):
      temp+=s[i]
temp

'el'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [10]:
s=input()
s+=" "
temp=""
freq={}
for i in range(0,len(s)):
 temp+=s[i]
 if(s[i]==" "):
     if temp:
        if temp in freq:
           freq[temp]+=1
        else :
           freq[temp]=1
        temp=""
freq

{'hello ': 3, 'Ahmed ': 3}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [44]:
s=input()
print(s.upper())
print(s.lower())

HELLO
hello

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [52]:
s=input()
if(len(s)%4==0):
    t=''.join(reversed(s))
    print(t)
else:
    print (s)

dcba

**10- Write a Python program to remove a newline in Python

In [9]:
s=input().strip('\n')
s

**11-Write a Python program to check whether a string starts with specified characters

In [11]:
s=input("enter str")
c=input("enter char")
if(s[0]==c[0]):
    print("YES")
else:
    print("NO")

YES

**12- Write a Python program to add prefix text to all of the lines in a string

In [20]:

s="""hello 
Nour
how are you
"""
prefix="hi "
for line in s.splitlines():
    print(prefix+line)

hi hello
hi Nour
hi how are you

**13-Write a Python program to print the following numbers up to 2 decimal places

In [15]:
number=float(input())
print(f"{number:.2f}")

4.25

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [21]:
number=float(input())
print(f"{number:+.2f}")

+14.56

**15-Write a Python program to display a number with a comma separator

In [14]:
n=int(input())
print(f"{n:,d}")

145,487,874

In [16]:
n=int(input())
print("{:,d}".format(n))

14,584,524

**16-Write a Python program to reverse a string using 2 ways

In [27]:

s=input()
for i in range(0,len(s)):
    print(s[len(s)-i-1],end="")

olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [29]:
s=input()
freq={}
for i in range(0,len(s)):
    if(s[i]):
        if s[i] in freq:
            freq[s[i]]+=1
        else:
            freq[s[i]]=1
freq

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [4]:
s="hello python"
s=set(s)
s

{' ', 'e', 'h', 'l', 'n', 'o', 'p', 't', 'y'}

**19-Write a Python program to remove spaces from a given string

In [16]:
s=input()
temp=""
for i in range(0,len(s)):
    if(s[i]!=' '):
        temp+=s[i]
temp

'hsfhgfuehfudfhdfjdfhf'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [7]:
s="hello python and c++"
s=s.split()
print(len(s))

4

**21-write a Python program to swap first and last element of any list.

In [21]:
s=int(input("enter Your list size "))
mylist=[]
for i in range(0,s):
    mylist.append(input())
temp=""
temp=mylist[-1]
mylist[-1]=mylist[0]
mylist[0]=temp
mylist

['python', '1', '2', 'hello']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [2]:
mylist = [23, 65, 19, 90]
pos1=1;pos2=3
temp=0
temp=mylist[pos1-1]
mylist[pos1-1]=mylist[pos2-1]
mylist[pos2-1]=temp
mylist

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [40]:
s=input()
s=list(s)
max=0
s

['4', '0', ' ', '5', '0', ' ', '6', ' ', '3', ' ', '2']

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [11]:
mylist=[1,2,4,5,8,7,10,89,-3]
min(mylist)

-3

**26-search for if an elem is existing in list

In [44]:
s=[1,2,3,4,5]
number=int(input())
found=False
for i in range(0,len(s)):
    if(number==s[i]):
        found=True
if(found==True):
    print("found")
else:
    print("not found")

found

**27- clear python list using different ways

In [46]:
s=[1,2,3,4,5]
s.clear()
s

[]

In [47]:
s=[1,2,3,4,5]
s=[]
s

[]

**28-remove duplicated elements from a list

In [ ]:
s=[1,2,3,3,4,4,5,6]
s=set(s)
s

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [â€œGfgâ€, 3, â€œisâ€, 8], key_list = [â€œnameâ€, â€œidâ€]
Output : [{â€˜nameâ€™: â€˜Gfgâ€™, â€˜idâ€™: 3}, {â€˜nameâ€™: â€˜isâ€™, â€˜idâ€™: 8}])

In [63]:
set1= ["Gfg", 3, "is", 8]
set2=["name", "id"]
dic={}
for i in range(0,len(set2)):
    if set1[i]:
        if set1[i] in dic:
            dic[set2[i]]=set1[i]
dic

{}

**30-write a python program to count unique values inside a list using different ways

In [52]:
s=[1,2,3,3,4,4,5,6]
s=set(s)
s

{1, 2, 3, 4, 5, 6}

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [68]:
s=[1,2,3,3,3,4,4,4,5,6,5,6]
freq={}
number=int(input())
for j in range(0,len(s)):
    if s[j]:
        if s[j] in freq:
            freq[s[j]]+=1
        else:
            freq[s[j]]=1

for keys,values in freq.items():
    if values>number:
        print(keys)

3
4

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [1]:
s=[1,2,2,3,4,5]
for i in range(1,len(s)):
    r=max(s[i],s[i-1])
    print(r)

2
2
3
4
5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [2]:
from itertools import permutations
l=[1,2,3]
for i in permutations(l):
    print(list(i),end="###")

[1, 2, 3]###[1, 3, 2]###[2, 1, 3]###[2, 3, 1]###[3, 1, 2]###[3, 2, 1]###

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
mylist=[1,2,3]
z=0
for i in range(0,len(mylist)):
    for j in range(i,len(mylist)):
        print

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [4]:
List_1 = ["a","b"] ;List_2 = [1,2] 
list3=[]
for i in range(0,len(List_1)):
    for j in range(0,len(List_2)):
        list3.append([List_1[i],List_2[j]])
list3

[['a', 1], ['a', 2], ['b', 1], ['b', 2]]

**36
-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [26]:
mylist= [1 ,1 ,2 ,3, 4 ,5 ,1 ,2, 1]
l2=[]
for i in range(0,len(mylist)):
    if mylist[i]!=1:
        l2.append(mylist[i])
print(l2)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [â€˜Gfgâ€™, â€˜isâ€™, â€˜bestâ€™] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [â€˜Gfgâ€™, â€˜isâ€™, â€˜bestâ€™, â€˜isâ€™, â€˜Gfgâ€™, â€˜Gfgâ€™, â€˜Gfgâ€™, â€˜bestâ€™, â€˜isâ€™, â€˜isâ€™, â€˜bestâ€™, â€˜Gfgâ€™])

In [27]:
l1=["Gfg", "is", "best"]
l2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
for i in range(0,len(l2)):
    l2[i]=l1[l2[i]]
l2

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [3]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 3
result = []
for i in test_list:
    if i.count(K) == N:
        result.append(i)
print(result)

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [66]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
sorted(array[2])
array

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]

In [62]:
dic1={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
dic1=dict(sorted(dic1.items()))
dic1

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {â€˜Gfgâ€™ : 3, â€˜isâ€™ : 7, â€˜bestâ€™ : 10, â€˜forâ€™ : 6, â€˜geeksâ€™ : â€˜CSâ€™},
K = 7 
Output : {â€˜Gfgâ€™ : 3, â€˜forâ€™ : 6, â€˜geeksâ€™ : â€˜CSâ€™}

In [54]:
test_dict = {"Gfg": 3, "is": 7, "best": 10, "for": 6, "geeks": "CS"}
t = {}

for keys, values in test_dict.items():
    
    if isinstance(values, int) and values < 7:
            t[keys] = values
    elif isinstance(values, str):
            t[keys] = values

print(t)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [35]:
dic1={1:10, 2:20} ;dic2={3:30, 4:40}; dic3={5:50,6:60} 
dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [32]:
dic1={"Name":"Ahmed","Age":15}
for key in dic1:
      print(key)
for keys in dic1:
      print(keys)
for value in dic1.values():
      print(value)
for key,value in dic1.items():
      print(key," ",value)

Name
Age
Name
Age
Ahmed
15
Name   Ahmed
Age   15

**44- Write a Python script to merge two Python dictionaries

In [27]:
dic1={"Name":"Ahmed","Age":15}
dic2={"depart":"CS","feelings":"sad"}
dic1.update(dic2)
dic1

{'Name': 'Ahmed', 'Age': 15, 'depart': 'CS', 'feelings': 'sad'}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [19]:
mydic={'c1': 30, 'c2': 40, 'c3': -2}
mx=0
mn=10**5
for key ,value in mydic.items():
    mx=max(mydic[key],mx)
    mn=min(mydic[key],mn)
print(mx," ",mn)

40   -2

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [23]:
mydic={'c1': 'Red', 'c2': 'Green', 'c3': None}
mydic2={}
for key,value in mydic.items():
    if mydic[key]!=None:
        mydic2[key]=value
mydic2

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [15]:
mylist=[]
size=int(input("enter list size"))
for i in range(0,size):
    mylist.append(input())

mylist=tuple(mylist)
mylist[0]

enter list size4
1
4
8
6

'1 '

**48-Write a Python program to unpack a tuple into several variables

In [7]:
mytuple=(1,2,3)
for i in  mytuple:
    print(i)

1
2
3

**49-Write a Python program to add an item to a tuple

In [77]:
t=(1,2,3,4)
t=list(t)
t.append(int(input()))
t=tuple(t)
t

(1, 2, 3, 4, 4)

**50-Write a Python program to convert a tuple to a string

In [81]:
t=(1,2,3,4)
t=str(t)
t

'(1, 2, 3, 4)'

**51-Write a Python program to convert a list to a tuple

In [35]:
mylist=[1,2,3]
mylist=tuple(mylist)
mylist

(1, 2, 3)

**52-Write a Python program to reverse a tuple

In [34]:
t=(1,2,3)
t=list(t)
t.reverse()
t=tuple(t)
t

(3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [6]:
lt = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([tuple(t[:-1]) + (100,)Â forÂ tÂ inÂ lt])

SyntaxError: invalid non-printable character U+00A0 (1931224051.py, line 2)

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [12]:
s="python3.0"
s=tuple(s)
s

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [45]:
t=()
size=int(input())
for i in range(0,size):
    t

tuple

**56-Write a Python program to add member(s) to a set.

In [44]:
size=int(input())
s=[]
for i in range(0,size):
     s.append(int(input()))
t=set(s)
t

{1, 2, 4, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [47]:
myset={1,5,4,6,8,10,12}
number=4
set2=[]
myset=list(myset)
for i in range(0,len(myset)):
    if myset[i]!=4:
        set2.append(myset[i])
set2=set(set2)
set2

{1, 5, 6, 8, 10, 12}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [43]:
size1=int(input())
size2=int(input())
s1=[]
s2=[]
for i in range(0,size):
     s1.append(int(input()))
t1=set(s1)
for i in range(0,size2):
     s2.append(int(input()))
t2=set(s2)
print(t1.union(t2))
print(t1.difference(t2))
print(t1.intersection(t2))

{1, 2, 3, 4, 6, 8}
{3}
{1, 2, 4}

**59-Write a Python program to find the maximum and minimum values in a set

In [10]:
myset={1,2,3,5,6,28,54,98,7,0}
myset=list(myset)
mx=max(myset)
mn=min(myset)
print(mx)
print(mn)

98
0

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [60]:
s=[1,2,3,4,5,6,2,4,3,8]
number=5
pair=[]
for i in range(0,len(s)):
    for j in range(0,len(s)):
        if(s[i]+s[j]==number):
            pair.append([s[i],s[j]])
pair

[[1, 4],
 [1, 4],
 [2, 3],
 [2, 3],
 [3, 2],
 [3, 2],
 [4, 1],
 [2, 3],
 [2, 3],
 [4, 1],
 [3, 2],
 [3, 2]]